<h1>This is the form for a new Student!</h1>

<form method="POST" action="/students">
  <label for="student-name">Name</label>
  <input type="text" name="name" id="student-name">
  <label for="student-age">Age</label>
  <input type="number" name="age" id="student-age">
  <label for="student-slogan">Slogan</label>
  <input type="text" name="slogan" id="student-slogan">
  <input type="submit" value="Submit!">
</form>
