<h1>This is the form for a new Student!</h1>
<form method="POST" action="/students">
  <p>Name: </p> <input type="text" name="name" >
  <p>Age: </p> <input type="number" name="age" >
  <p>Slogan: </p> <input type="text" name="slogan" >
  <input type="submit" value="Create a New Student!">
</form>
