<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Glorious Pegasus Home Page</h2>

    <div class="content">
      <marquee>🦄Glorious Pegasus🦄</marquee>
      <a href="/students">
        <p>See Students</p>
      </a>
    </div>

    <div class="sidebar">
      <h3>Information</h3>
      <ul>
        <li><b>Cohort Number:</b> 051319</li>
        <li><b>Current Mod:</b> 2</li>
      </ul>
    </div>

  </div>
</div>
